/* reset css */
@import url(reset.css);

/* google font - montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* root variables */
:root {
  /* var of font */
  --fontMain: "Montserrat", serif;

  /* colors */
  --colorWhite: #fff;
  --colorBlack: #00030c;
  --colorLigthGray: #ccc;
  --colorDarkGray: #666;
  --colorGlass: #ffffff60;
}


/* global */
body {
  background-color: var(--colorDarkGray);
  overflow: hidden;
}

/* global text */
h1{
  font-family: var(--fontMain);
  font-size: 32px;
  font-weight: 700;
}

p {
  margin-top: 1em;
  font-family: var(--fontMain);
  font-size: 20px;
  text-indent: 1em;
  line-height: 1.2em;
  font-weight: 500;
}

/* box global */
.box {
  height: 100vh;
  padding-left: 3em;

  /* display */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;

  /* global bg */
  background-size: 110% 110%;
  background-repeat: no-repeat;
}

.box > div {
  max-width: 30%;
  padding: 3em;
  background-color: var(--colorGlass);
  border-radius: 32px;
}

/* css for ids */
#amazonia{
  background-image: url(img/amazonica.jpg);
}

#caatinga {
  background-image: url(img/caatinga.jpg);
}

#cerrado {
  background-image: url(img/cerrado.jpg);
}

#pampa {
  background-image: url(img/pampa.jpg);
}

#atlantica {
  background-image: url(img/atlantica.jpg);
}

#pantanal {
  background-image: url(img/pantanal.jpg);
}